body {
    margin: 0;
    background-color: rgba(255, 255, 255, 0.908);
}


#containar {
    border: 5px solid white;
   display: flex;
  background-image: url(bmw.webp);
  height: 660px;
  width: 1080px;
  

}

#bmw{
    clip-path: polygon(50% 0, 25% 50%, 50% 100%, 25% 100%, 0 50%, 25% 0%);
    height: 660px;
    width: 350px;
    background-color: rgb(1, 1, 55);
}